{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

These rules sound elementary, and so they are, but they demand a deep change of attitude in anyone who has grown used to writing in the style now fashionable. One could keep all of them and still write bad English, but one could not write the kind of stuff that I quoted in those five specimens at the beginning of this article.

<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fc4bf0be4-7c15-11e4-a7b8-00144feabdc0?source=ig&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption">
    <a class="o-typography-link" href="#void">&#xA9;Credit person</a> George Orwell at his typewriter
  </figcaption>
</figure>

<div id='ig-Rich-graphics-talk---Oil-producers-Artboard_1' class='' data-o-grid-colspan="12 S11 Mhide">
  <style type='text/css' media='screen,print'>
    #ig-Rich-graphics-talk---Oil-producers-Artboard_1{
      position:relative;
      overflow:hidden;
      width:320px;
    }
    .ig-ai-abs{
      position:absolute;
    }
    .ig-ai-img{
      display:block;
      width:100% !important;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_1 p{
      font-family:MetricWeb,arial,helvetica,sans-serif;
      font-size:13px;
      line-height:18px;
      margin:0;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_1 .ig-ai-pstyle0 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:25px;
      line-height:25px;
      font-weight:400;
      color:#4c4c48;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_1 .ig-ai-pstyle1 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:18px;
      line-height:20px;
      font-weight:400;
      color:#4c4c48;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_1 .ig-ai-pstyle2 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:18px;
      font-weight:400;
      text-align:center;
      color:#4c4c48;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_1 .ig-ai-pstyle3 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:18px;
      line-height:20px;
      font-weight:400;
      text-align:right;
      color:#4c4c48;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_1 .ig-ai-pstyle4 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:18px;
      line-height:20px;
      font-weight:400;
      color:#ffffff;
    }
  </style>
  <div id='ig-Rich-graphics-talk---Oil-producers-Artboard_1-graphic'>
    <img id='ig-ai0-0'
      class='ig-ai-img'
      src='images/Rich-graphics-talk---Oil-producers-Artboard_1.png'
      />
    <div id='ig-ai0-1' class='ig-STYLES ig-ai-abs' style='top:-0.2000%;left:0.2943%;'>
      <p class='ig-ai-pstyle0'>Oil producers</p>
    </div>
    <div id='ig-ai0-2' class='ig-STYLES ig-ai-abs' style='top:6.2000%;left:0.2943%;'>
      <p class='ig-ai-pstyle1'>Crude that has to pass through the strait</p>
      <p class='ig-ai-pstyle1'>% of total exports</p>
    </div>
    <div id='ig-ai0-3' class='ig-STYLES ig-ai-abs' style='top:16.2000%;left:20.0367%;width:5.8499%;margin-left:-2.9250%;'>
      <p class='ig-ai-pstyle2'>0</p>
    </div>
    <div id='ig-ai0-4' class='ig-STYLES ig-ai-abs' style='top:16.2000%;left:57.5750%;width:11.6998%;margin-left:-5.8499%;'>
      <p class='ig-ai-pstyle2'>50</p>
    </div>
    <div id='ig-ai0-5' class='ig-STYLES ig-ai-abs' style='top:16.2000%;left:95.1134%;width:17.5497%;margin-left:-8.7749%;'>
      <p class='ig-ai-pstyle2'>100</p>
    </div>
    <div id='ig-ai0-6' class='ig-STYLES ig-ai-abs' style='top:23.4000%;right:83.4354%;'>
      <p class='ig-ai-pstyle3'>Iran</p>
    </div>
    <div id='ig-ai0-7' class='ig-STYLES ig-ai-abs' style='top:23.4000%;left:23.3114%;'>
      <p class='ig-ai-pstyle4'>100</p>
    </div>
    <div id='ig-ai0-8' class='ig-STYLES ig-ai-abs' style='top:31.2000%;right:83.4354%;'>
      <p class='ig-ai-pstyle3'>Kuwait</p>
    </div>
    <div id='ig-ai0-9' class='ig-STYLES ig-ai-abs' style='top:31.2000%;left:23.3114%;'>
      <p class='ig-ai-pstyle4'>100</p>
    </div>
    <div id='ig-ai0-10' class='ig-STYLES ig-ai-abs' style='top:39.0000%;right:83.4352%;'>
      <p class='ig-ai-pstyle3'>Bahrain</p>
    </div>
    <div id='ig-ai0-11' class='ig-STYLES ig-ai-abs' style='top:39.0000%;left:23.3114%;'>
      <p class='ig-ai-pstyle4'>100</p>
    </div>
    <div id='ig-ai0-12' class='ig-STYLES ig-ai-abs' style='top:46.8000%;right:83.4354%;'>
      <p class='ig-ai-pstyle3'>Qatar</p>
    </div>
    <div id='ig-ai0-13' class='ig-STYLES ig-ai-abs' style='top:46.8000%;left:23.3114%;'>
      <p class='ig-ai-pstyle4'>100</p>
    </div>
    <div id='ig-ai0-14' class='ig-STYLES ig-ai-abs' style='top:54.6000%;right:83.4354%;'>
      <p class='ig-ai-pstyle3'>Iraq</p>
    </div>
    <div id='ig-ai0-15' class='ig-STYLES ig-ai-abs' style='top:54.6000%;left:23.3114%;'>
      <p class='ig-ai-pstyle4'>87</p>
    </div>
    <div id='ig-ai0-16' class='ig-STYLES ig-ai-abs' style='top:62.4000%;right:83.4354%;'>
      <p class='ig-ai-pstyle3'>UAE</p>
    </div>
    <div id='ig-ai0-17' class='ig-STYLES ig-ai-abs' style='top:62.4000%;left:23.3114%;'>
      <p class='ig-ai-pstyle4'>55</p>
    </div>
    <div id='ig-ai0-18' class='ig-STYLES ig-ai-abs' style='top:67.8000%;right:83.4354%;'>
      <p class='ig-ai-pstyle3'>Saudi</p>
      <p class='ig-ai-pstyle3'>Arabia</p>
    </div>
    <div id='ig-ai0-19' class='ig-STYLES ig-ai-abs' style='top:70.0000%;left:23.3114%;'>
      <p class='ig-ai-pstyle4'>48</p>
    </div>
  </div>
</div>

<div id='ig-Rich-graphics-talk---Oil-producers-Artboard_3' class='' data-o-grid-colspan="hide M8 Mcenter Lhide">
  <style type='text/css' media='screen,print'>
    #ig-Rich-graphics-talk---Oil-producers-Artboard_3{
      position:relative;
      overflow:hidden;
      width:600px;
    }
    .ig-ai-abs{
      position:absolute;
    }
    .ig-ai-img{
      display:block;
      width:100% !important;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_3 p{
      font-family:MetricWeb,arial,helvetica,sans-serif;
      font-size:13px;
      line-height:18px;
      margin:0;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_3 .ig-ai-pstyle0 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:25px;
      line-height:25px;
      font-weight:400;
      color:#4c4c48;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_3 .ig-ai-pstyle1 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:18px;
      line-height:20px;
      font-weight:400;
      color:#4c4c48;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_3 .ig-ai-pstyle2 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:18px;
      line-height:20px;
      font-weight:400;
      text-align:right;
      color:#4c4c48;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_3 .ig-ai-pstyle3 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:18px;
      font-weight:400;
      text-align:center;
      color:#4c4c48;
    }
  </style>
  <div id='ig-Rich-graphics-talk---Oil-producers-Artboard_3-graphic'>
    <img id='ig-ai1-0'
      class='ig-ai-img'
      src='images/Rich-graphics-talk---Oil-producers-Artboard_3.png'
      />
    <div id='ig-ai1-1' class='ig-STYLES ig-ai-abs' style='top:-0.4000%;left:0.0940%;'>
      <p class='ig-ai-pstyle0'>Oil producers</p>
    </div>
    <div id='ig-ai1-2' class='ig-STYLES ig-ai-abs' style='top:6.0000%;left:0.0940%;'>
      <p class='ig-ai-pstyle1'>Crude that has to pass through the strait</p>
      <p class='ig-ai-pstyle1'>% of total exports</p>
    </div>
    <div id='ig-ai1-3' class='ig-STYLES ig-ai-abs' style='top:22.8000%;right:-0.0000%;'>
      <p class='ig-ai-pstyle2'>100</p>
    </div>
    <div id='ig-ai1-4' class='ig-STYLES ig-ai-abs' style='top:48.2000%;right:-0.0000%;'>
      <p class='ig-ai-pstyle2'>50</p>
    </div>
    <div id='ig-ai1-5' class='ig-STYLES ig-ai-abs' style='top:72.8000%;right:-0.0000%;'>
      <p class='ig-ai-pstyle2'>0</p>
    </div>
    <div id='ig-ai1-6' class='ig-STYLES ig-ai-abs' style='top:77.6000%;left:8.3309%;width:8.8260%;margin-left:-4.4130%;'>
      <p class='ig-ai-pstyle3'>Iran</p>
    </div>
    <div id='ig-ai1-7' class='ig-STYLES ig-ai-abs' style='top:77.6000%;left:21.3922%;width:15.7380%;margin-left:-7.8690%;'>
      <p class='ig-ai-pstyle3'>Kuwait</p>
    </div>
    <div id='ig-ai1-8' class='ig-STYLES ig-ai-abs' style='top:77.6000%;left:34.4533%;width:17.5977%;margin-left:-8.7988%;'>
      <p class='ig-ai-pstyle3'>Bahrain</p>
    </div>
    <div id='ig-ai1-9' class='ig-STYLES ig-ai-abs' style='top:77.6000%;left:47.5147%;width:12.8822%;margin-left:-6.4411%;'>
      <p class='ig-ai-pstyle3'>Qatar</p>
    </div>
    <div id='ig-ai1-10' class='ig-STYLES ig-ai-abs' style='top:77.6000%;left:60.5759%;width:8.9040%;margin-left:-4.4520%;'>
      <p class='ig-ai-pstyle3'>Iraq</p>
    </div>
    <div id='ig-ai1-11' class='ig-STYLES ig-ai-abs' style='top:77.6000%;left:73.6372%;width:10.2057%;margin-left:-5.1029%;'>
      <p class='ig-ai-pstyle3'>UAE</p>
    </div>
    <div id='ig-ai1-12' class='ig-STYLES ig-ai-abs' style='top:77.6000%;left:86.6985%;width:15.0719%;margin-left:-7.5360%;'>
      <p class='ig-ai-pstyle3'>Saudi</p>
      <p class='ig-ai-pstyle3'>Arabia</p>
    </div>
  </div>
</div>

<div id='ig-Rich-graphics-talk---Oil-producers-Artboard_4' class='' data-o-grid-colspan="hide L10 Lcenter">
  <style type='text/css' media='screen,print'>
    #ig-Rich-graphics-talk---Oil-producers-Artboard_4{
      position:relative;
      overflow:hidden;
      width:970px;
    }
    .ig-ai-abs{
      position:absolute;
    }
    .ig-ai-img{
      display:block;
      width:100% !important;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_4 p{
      font-family:MetricWeb,arial,helvetica,sans-serif;
      font-size:13px;
      line-height:18px;
      margin:0;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_4 .ig-ai-pstyle0 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:25px;
      line-height:25px;
      font-weight:400;
      color:#4c4c48;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_4 .ig-ai-pstyle1 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:18px;
      line-height:20px;
      font-weight:400;
      color:#4c4c48;
    }
    #ig-Rich-graphics-talk---Oil-producers-Artboard_4 .ig-ai-pstyle2 {
      font-family:MetricWeb,arial,sans-serif;
      font-size:18px;
      line-height:20px;
      font-weight:400;
      text-align:center;
      color:#ffffff;
    }
  </style>
  <div id='ig-Rich-graphics-talk---Oil-producers-Artboard_4-graphic'>
    <img id='ig-ai2-0'
      class='ig-ai-img'
      src='images/Rich-graphics-talk---Oil-producers-Artboard_4.png'
      />
    <div id='ig-ai2-1' class='ig-STYLES ig-ai-abs' style='top:-0.2000%;left:-0.0000%;'>
      <p class='ig-ai-pstyle0'>Oil producers</p>
    </div>
    <div id='ig-ai2-2' class='ig-STYLES ig-ai-abs' style='top:6.2000%;left:-0.0000%;'>
      <p class='ig-ai-pstyle1'>Crude that has to pass through the strait (% of total exports)</p>
    </div>
    <div id='ig-ai2-3' class='ig-STYLES ig-ai-abs' style='top:13.8000%;left:91.7815%;'>
      <p class='ig-ai-pstyle1'>100%</p>
    </div>
    <div id='ig-ai2-4' class='ig-STYLES ig-ai-abs' style='top:38.8000%;left:91.7815%;'>
      <p class='ig-ai-pstyle1'>50</p>
    </div>
    <div id='ig-ai2-5' class='ig-STYLES ig-ai-abs' style='top:61.0000%;left:11.8886%;width:5.4593%;margin-left:-2.7296%;'>
      <p class='ig-ai-pstyle2'>Iran</p>
    </div>
    <div id='ig-ai2-6' class='ig-STYLES ig-ai-abs' style='top:61.0000%;left:23.8289%;width:9.7348%;margin-left:-4.8674%;'>
      <p class='ig-ai-pstyle2'>Kuwait</p>
    </div>
    <div id='ig-ai2-7' class='ig-STYLES ig-ai-abs' style='top:61.0000%;left:35.7691%;width:10.8853%;margin-left:-5.4427%;'>
      <p class='ig-ai-pstyle2'>Bahrain</p>
    </div>
    <div id='ig-ai2-8' class='ig-STYLES ig-ai-abs' style='top:61.0000%;left:47.7092%;width:7.9683%;margin-left:-3.9842%;'>
      <p class='ig-ai-pstyle2'>Qatar</p>
    </div>
    <div id='ig-ai2-9' class='ig-STYLES ig-ai-abs' style='top:61.0000%;left:59.6495%;width:5.5076%;margin-left:-2.7538%;'>
      <p class='ig-ai-pstyle2'>Iraq</p>
    </div>
    <div id='ig-ai2-10' class='ig-STYLES ig-ai-abs' style='top:61.0000%;left:71.5897%;width:6.3130%;margin-left:-3.1565%;'>
      <p class='ig-ai-pstyle2'>UAE</p>
    </div>
    <div id='ig-ai2-11' class='ig-STYLES ig-ai-abs' style='top:61.0000%;left:83.5298%;width:18.0445%;margin-left:-9.0222%;'>
      <p class='ig-ai-pstyle2'>Saudi Arabia</p>
    </div>
    <div id='ig-ai2-12' class='ig-STYLES ig-ai-abs' style='top:63.4000%;left:91.7815%;'>
      <p class='ig-ai-pstyle1'>0</p>
    </div>
  </div>
</div>
{% endmarkdown %}
{% endblock %}
